.loginForm {
    /* background-color: white; */
    width: 500px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.loginForm h1,
.loginForm h2 {
    text-align: center;
    color: #333;
}

.loginForm label {
    display: block;
    margin-bottom: 10px;
}

.loginForm input[type='text'],
.loginForm input[type='password'] {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-btn {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bffb3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-btn:hover {
    background-color: #007bff;
    font-weight: bold;
}

.signup-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
.signup-btn:hover {
    opacity: 0.8;
    font-weight: bold;
}

.social-login-btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.social-login-btn:hover {
    opacity: 0.8; 
  }

.google {
    background-color: #DB4437;
}

.facebook {
    background-color: #3B5998;
}

.microsoft {
    background-color: #666666;
}

.amazon {
    background-color: #FF9900;
}

.paypal {
    background-color: #003087;
}

.signup-btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 5px;
    cursor: pointer;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.remember-me label {
    margin-bottom: 0;
    margin-top: 2px;
}

#remember-me-checkbox {
    margin-right: 0.5em;
    vertical-align: middle;
}

.forgot-password {
    color: #007BFF;
    text-decoration: none;
    display: block;
    margin: 1em 0;
}

.forgot-password:hover {
    text-decoration: underline;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
}

.logo:hover {
    transform: scale(1.1);
}