.green-btn {
  background-color: green;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.green-btn:hover {
  font-size: 22px;
  font-weight: bold;
}

.red-btn {
  background-color: red;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.red-btn:hover {
  font-size: 22px;
  font-weight: bold;
}

.green-text {
  color: green;
  font-size: 28px;
}

.red-text {
  color: red;
  font-size: 28px;
}

.neutral-text {
  color: orange;
  font-size: 28px;
}
